body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 800px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

body, h2, #busTable, #busTable th, #busTable td, input {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

h2 {
    background-color: #D32F2F; /* Darker red */
    color: #ffffff;
    padding: 15px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    h2 {
        margin-bottom: 10px;
    }
}

#searchByName,
#customStopId {
    margin-top: 20px;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

input {
    font-style: italic;
    width: 60%;
    padding: 8px;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #333;
}

button {
    padding: 8px;
    font-size: 1em;
    background-color: #D32F2F; /* Darker red */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: #B71C1C; /* Even darker red on hover */
}

#largebutton {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    background-color: #D32F2F;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

#largebutton:active {
    transform: scale(0.95);
}

#largebutton:hover {
    background-color: #B71C1C;
}

#stopInfo,
#timestamp {
    background-color: #00000000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: #e0e0e0;
    transition: background-color 0.3s, transform 0.1s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-radius: 5px;
}

th,
td {
    border: 1px solid #333;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #D32F2F;
    color: #ffffff;
}

td a {
    color: #D32F2F;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

td a:hover {
    color: #B71C1C;
}
.stopHeader {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.stopCoordinates a {
    color: #D32F2F; /* Darker red */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.stopCoordinates a:hover {
    color: #B71C1C; /* Even darker red */
}

.lineSymbol {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D32F2F; /* Darker red */
    margin: 2px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
}

.stopInfoTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.stopInfoTable th,
.stopInfoTable td {
    padding: 12px;
    border-style: none;
}

.stopInfoTable th a {
    color: #ffffff; /* White color for the link */
    text-decoration: none;
}

.lineSymbol {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 15%;
    background-color: #D32F2F;
    margin-right: 2px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    font-size: 12px;
}

#updateStatus {
    font-size: 1.2em;
    margin-top: 10px;
    color: #27ae60; /* Green */
}

#loadingText {
    display: none;
    color: #e0e0e0;
}

.favoritesDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    padding: 20px;
    border: 2px solid #D32F2F;
    border-radius: 15px;
    z-index: 9999;
    max-height: 80%;
    overflow-y: auto;
    color: #e0e0e0;
}

.favoriteStopInfo {
    margin-bottom: 20px;
}

.favoriteStopInfo h4 {
    margin-bottom: 5px;
    color: #e0e0e0;
}
.favoriteStopInfo p {
    font-size: 12px;
    color: #b0b0b0;
}

.favoritesDialog button {
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

.favoritesDialog button:active {
    transform: scale(0.95);
}

.favoritesDialog button:hover {
    background-color: #666;
}

#legaltext {
    text-align: center;
    font-size: 12px;
    color: #e0e0e0;
}

#icon, .icon {
    width: 25px;
    height: 25px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #2e2e2e;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #555;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    color: #e0e0e0;
}

.close {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#mapContainer {
    width: 100%;
    height: 400px;
}

@media only screen and (max-width: 800px) {
    .modal-content {
        width: 90%;
    }
    #mapContainer {
        height: 300px;
    }
}

@media only screen and (max-width: 800px) {
    input {
        width: 96%;
        margin-bottom: 10px;
    }
    body {
        margin: 0px;
    }
    #timestamp {
        background-color: #00000000;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        text-align: center;
        color: #e0e0e0;
        transition: background-color 0.3s, transform 0.1s;
    }
    button {
        width: 100%;
        padding: 8px;
        font-size: 1em;
        background-color: #D32F2F;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
/* Dark mode styling for the bus lines page */
body {
    background-color: #121212;
    color: #e0e0e0;
}

#lineContainer {
    margin-top: 20px;
}

.lineItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1e1e1e;
    transition: background-color 0.3s, transform 0.1s;
}

.lineItem:hover {
    background-color: #333;
}

.lineSymbol {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 15%;
    margin-right: 15px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.lineName {
    font-size: 1.2em;
    font-weight: bold;
    color: #e0e0e0;
}

/* Custom Journey Selection Modal */
#journeyModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

#journeyModal .modal-content {
    background-color: #222;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #555;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    color: #e0e0e0;
}

#journeyModal .close {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#journeyModal .close:hover,
#journeyModal .close:focus {
    color: white;
}

.journeyOption {
    padding: 10px;
    background-color: #d32f2f;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    text-align: center;
    width: 40%;
}

.journeyOption:hover {
    background-color: #b71c1c;
}

#loadingOverlay {
    background-color: rgba(0, 0, 0, 0.6);
}

#stopsContainer {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 25px;
}

.busLineDiagram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 90%;
}

.line {
    width: 8px;
    background-color: #d32f2f;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    z-index: 1;
}

.stopItem {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    background-color: #1e1e1e;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.stopItem:hover {
    background-color: #292929;
    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.4);
}

.stopCircle {
    width: 20px;
    height: 20px;
    background-color: #d32f2f;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    margin-right: 15px;
    margin-left: -2.5px;
}

.stopLabel {
    font-size: 16px;
    color: #e0e0e0;
    cursor: pointer;
    text-decoration: none;
}

.backButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
}

.backButton:hover {
    background-color: #0056b3;
}
